#message_box {
	
	width:100%;
	float:left;
	margin-bottom:5px;
	color:#000000;
	background:#edad00;
	cursor:pointer;
	
}

#message_box div {
	
	padding:5px;
	
}

#categories_list {
	
	width:100%;
	float:left;
	padding:0px;
	margin:0px;
	
} 

.category_container {
	
	width:100%;
	margin-top:5px;
	float:left;
	color:#333333;
	background:#d8d8d8;
	text-align:left;
	
}

.category_container:hover {
	
	background:#cdefcd;
	
}

.category_container a {
	
	color:#333333;
	
}

.category_container a:hover {
	
	color:#333333;
	
}

.category_container .handle {
	
	width:100%;
	float:left;
	
}

.category_container .handle .name {
	
	float:left;
	padding:5px;
	
}

.category_container .handle .toolbar {
	
	float:right;
	padding:5px;
	
}

.category_container .handle .toolbar .subcategories {
	
	float:left;
	
}

.category_container .handle .toolbar .options {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #666666;
	
}


.category_container .handle .toolbar .groups {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #666666;
	
}


.category_container .handle .toolbar .delete {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #666666;
	
}

#edit_category_options_in_place {
	
	width:100%;
	float:left;
	color:#333333;
	background:#ececec;
	
}

.editor_category_container {
	
	float:left;
	padding:5px;
	
}

.groups_assignement_header {
	
	width:445px;
	float:left;
	margin-bottom:5px;
	
}

.assigned_groups {
	
	width:440px;
	float:left;
	margin-right:20px;
	
}

.remove_group {
	
	width:440px;
	float:left;
	margin-top:5px;
	text-align:right;
	
}

.available_groups {
	
	width:440px;
	float:left;
	
}

.add_group {
	
	width:440px;
	float:left;
	margin-top:5px;
	text-align:left;
	
}

.cancel_button {
	
	width:100%;
	float:left;
	margin-top:5px;
	
}

.options_editor_container {
	
	padding-bottom:5px;
	padding-right:5px;
	
}

#editor_options {
	
	width:100%;
	float:left;
	margin-top:5px;
	padding-bottom:5px;
	
}

#add_category_container {
	
	width:100%;
	float:left;
	padding-bottom:5px;
	color:#333333;
	
}

#add_category_container form {
	
	padding:5px;
	background:#d8d8d8;
	
}

.label {
	
	padding-right:5px;
	
}

.user_selectable {
	
	padding:5px 0px 5px 0px;
	
}

.subheader_title {
	
	width:100%;
	float:left;
	margin-top:5px;
	font-size:12pt;
	font-weight:bold;
	color:#333333;
	
}

.subheader_title a {
	
	text-decoration:none;
	color:#333333;
	
}

.subheader_title a:hover {
	
	text-decoration:underline;
	
}