#message_box {
	
	width:100%;
	float:left;
	margin-top:5px;
	color:#000000;
	background:#edad00;
	cursor:pointer;
	
}

#message_box div {
	
	padding:5px;
	
}


#images_list_container {
	
	width:100%;
	float:left;
	
}


#images_list {
	
	width:100%;
	float:left;
	
} 

.images_container {
	
	float:left;
	margin-top:5px;
	margin-right:5px;
	padding:5px;
	color:#ffffff;
	background:#666666;
	
}

.images_container a {
	
	color:#ffffff;
	
}

.image_container_editing {
	
	background:#3a663a;
	
}

.image {
	
	width:170px;
	height:170px;
	text-align:center;
	background:#d8d8d8;
	overflow:hidden;
	
}

.gallery_options {
	
	width:170px;
	margin-top:5px;
	
}

.in_series a {
	
	color:#aaeeaa;
	font-weight:bold;
	
}

.add_to_series a {
	
	color:#eeaaaa;
	
}

.edit_options {
	
	width:170px;
	margin-top:5px;
	
}

.edit_options .edit {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid #ffffff;
	
}

.edit_options .delete {
	
	float:left;
	
}

.sortable_placeholder {
	
	width:178px;
	height:218px;
	float:left;
	margin-top:5px;
	margin-right:5px;
	background:#eeeeee;
	border:1px dotted #000000;
	
}

#gallery_navigation {
	
	width:100%;
	float:left;
	margin-top:5px;
	color:#666666;
	
}

#gallery_navigation a {
	
	color:#666666;
	
}

#gallery_navigation a:hover {
	
	color:#333333;
	
}

#gallery_navigation .totals {
	
	float:left;
	
}

#gallery_navigation .navigation {
	
	float:right;
	
}

#gallery_navigation .pages {
	
	float:left;
	margin-right:5px;
	
}

#gallery_navigation .previous {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid #666666;
	
}

#gallery_navigation .next {
	
	float:left;
	
}

#fullsize_image {
	
	width:100%;
	float:left;
	margin-top:5px;
	background:#d8d8d8;
	
}

#fullsize_image img {
	
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}

#editor_navigation {
	
	width:100%;
	float:left;
	margin-top:5px;
	padding-bottom:5px;
	
}

#image_editor_container {
	
	width:100%;
	float:left;
	padding-bottom:5px;
	
}

#image_editor_options {
	
	width:100%;
	float:left;
	color:#333333;
	background:#d8d8d8;
	
}

#image_editor_options form {
	
	float:left;
	padding:5px;
	
}

.image_text {
	
	width:600px;
	float:left;
	margin-right:5px;
	padding:2px;
	border:1px solid #666666;
	background:#dfdfdf;
	overflow:hidden;
	
}

#image_text {
	
	width:600px;
	white-space:nowrap;
	overflow:hidden;
	
}

#editor_container {
	
	width:100%;
	float:left;
	margin-top:5px;
	
}

#editor_options {
	
	width:100%;
	float:left;
	margin-top:5px;
	padding-bottom:5px;
	
}

#back_to_document {
	
	float:right;
	
}

#versioning_options {
	
	width:100%;
	margin-top:5px;
	float:left;
	color:#333333;
	background:#d8d8d8;
	
}

#versioning_options a {
	
	color:#333333;
	
}

#versioning_toolbar {
	
	float:left;
	padding:5px;
	
}

.current_version {
	
	float:left;
	
}

.toggle_version_choices {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #333333;
	
}

.delete_versions {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #333333;
	
}

#version_choices {
	
	width:100%;
	float:left;
	
}

.version_header {
	
	font-weight:bold;
	
}

#version_choices table {
	
	padding:0px 5px 5px 5px;
	
}

.version td {
	
	border-top:2px solid #d8d8d8;
	
}

.version a {
	
	color:#333333;
	
}

.version:hover {
	
	background:#cdefcd;
	
}

.version_options {
	
	float:right;
	
}

.version_options .load {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right: 1px solid #666666;
	
}

.version_options .delete {
	
	float:left;
	
}

#version_list_navigation {
	
	width:100%;
	float:left;
	border-top:1px solid #666666;
	
}

#version_list_navigation a {
	
	color:#333333;
	
}

#version_list_navigation .totals {
	
	float:left;
	padding:5px;
	
}

#version_list_navigation .navigation {
	
	float:right;
	padding:5px;
	
}

#version_list_navigation .pages {
	
	float:left;
	margin-right:5px;
	
}

#version_list_navigation .previous {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid #666666;
	
}

#version_list_navigation .next {
	
	float:left;
	
}

.subheader_title {
	
	width:100%;
	float:left;
	margin-top:5px;
	font-size:12pt;
	font-weight:bold;
	color:#333333;
	
}

.subheader_title a {
	
	text-decoration:none;
	color:#333333;
	
}

.subheader_title a:hover {
	
	text-decoration:underline;
	
}

#imageFile {
	
	padding:2px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	
}