#message_box {
	
	width:910px;
	float:left;
	margin-top:5px;
	padding:5px;
	color:#000000;
	background:#edad00;
	cursor:pointer;
	
}

#event_list {
	
	width:920px;
	float:left;
	padding:0px;
	margin:0px;
	
} 

.event_main_header_options {
	
	width:910px;
	float:left;
	margin-top:5px;
	padding:5px;
	font-weight:bold;
	color:#ffffff;
	background:#8a8a8a;
	text-align:left;
	
}

.event_main_header_options a {
	
	color:#ffffff;
	
}

.event_main_header_options a:hover {
	
	color:#ffffff;
	
}

.event_header_checkbox {
	
	width:20px;
	height:10pt;
	float:left;
	
}

.event_header_date {
	
	width:281px;
	float:left;
	white-space:nowrap;
	overflow:hidden;
	
}

.event_header_title {
	
	width:426px;
	float:left;
	padding-left:10px;
	white-space:nowrap;
	overflow:hidden;
	
}

.event_header_status {
	
	width:90px;
	float:left;
	padding-left:10px;
	white-space:nowrap;
	overflow:hidden;
	
}

.event_header_delete {
	
	float:right;
	padding-left:10px;
	white-space:nowrap;
	
}

.event_container {
	
	width:910px;
	margin-top:5px;
	padding:5px;
	float:left;
	color:#333333;
	background:#d8d8d8;
	text-align:left;
	
}

.event_container:hover {
	
	background:#cdefcd;
	
}

.event_container a {
	
	color:#333333;
	
}

.event_container a:hover {
	
	color:#333333;
	
}

.event_list_options {
	
	width:910px;
	float:left;
	margin-top:5px;
	padding:5px;
	font-weight:bold;
	color:#ffffff;
	background:#8a8a8a;
	
}

.event_list_options a {
	
	color:#ffffff;
	
}

.check_all {
	
	width:20px;
	float:left;
	
}

.select_all {
	
	float:left;
	
}

.toggle_selected_state {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #ffffff;
	
}

.delete_selected {
	
	float:left;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #ffffff;
	
}

#editor_navigation {
	
	width:910px;
	float:left;
	margin-top:5px;
	padding:5px;
	color:#ffffff;
	background:#365164;
	
}

#editor_navigation a {
	
	color:#ffffff;
	
}

#editor_navigation a:hover {
	
	color:#ffffff;
	
}

#editor_navigation .totals {
	
	float:left;
	
}

#editor_navigation .navigation {
	
	float:right;
	
}

#editor_navigation .pages {
	
	float:left;
	margin-right:5px;
	
}

#editor_navigation .previous {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid #ffffff;
	
}

#editor_navigation .next {
	
	float:left;
	
}

#editor_options {
	
	width:920px;
	float:left;
	margin-top:5px;
	
}

.subheader_title {
	
	width:910px;
	float:left;
	padding:5px;
	font-size:12pt;
	font-weight:bold;
	color:#ffffff;
	background:#365164;
	
}

.subheader_title a {
	
	text-decoration:none;
	color:#ffffff;
	
}

.subheader_title a:hover {
	
	text-decoration:underline;
	color:#ffffff;
	
}