#message_box {
	
	width:910px;
	float:left;
	margin-top:5px;
	padding:5px;
	color:#000000;
	background:#edad00;
	cursor:pointer;
	
}

.form_options {
	
	padding-bottom:4px;
	
}

.form_sub_option_spacer {
	
	padding-left:4px;
	
}

.form_buttons {
	
	width:910px;
	margin-top:5px;
	float:left;
	
}

#users_list {
	
	width:920px;
	float:left;
	
} 

.user_container {
	
	margin-top:5px;
	float:left;
	padding:5px;
	color:#ffffff;
	background:#365164;
	
}

.user_container a {
	
	color:#ffffff;
	
}

.user_container a:hover {
	
	color:#ffffff;
	
}

.user_image {
	
	width:170px;
	height:170px;
	text-align:center;
	background:#d8d8d8;
	overflow:hidden;
	
}

.user_details {
	
	width:170px;
	float:left;
	margin-top:5px;
	color:#ffffff;
	overflow:hidden;
	
}

.user_distance {
	
	width:170px;
	float:left;
	margin-top:5px;
	overflow:hidden;
	
}

.profile_column_separator {
	
	margin-right:5px;
	
}

#editor_navigation {
	
	width:920px;
	float:left;
	margin-top:5px;
	color:#666666;
	
}

#editor_navigation a {
	
	color:#666666;
	
}

#editor_navigation a:hover {
	
	color:#333333;
	
}

#editor_navigation .totals {
	
	float:left;
	
}

#editor_navigation .navigation {
	
	float:right;
	
}

#editor_navigation .pages {
	
	float:left;
	margin-right:5px;
	
}

#editor_navigation .previous {
	
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid #666666;
	
}

#editor_navigation .next {
	
	float:left;
	
}

.search_options_container {
	
	width:910px;
	float:left;
	padding:5px;
	color:#333333;
	background:#d8d8d8;
	
}

.subheader_title {
	
	width:910px;
	float:left;
	padding:5px;
	font-size:12pt;
	font-weight:bold;
	color:#ffffff;
	background:#365164;
	
}

.subheader_title a {
	
	text-decoration:none;
	color:#ffffff;
	
}

.subheader_title a:hover {
	
	text-decoration:underline;
	color:#ffffff;
	
}